.main {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: #3f445f;
  width: 76%;
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
  padding-bottom: 10px;
}
.main::-webkit-scrollbar {
  display: none; /* Скрываем стандартную полосу прокрутки в браузерах WebKit */
}
