.main {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: #3f445f;
  width: 76%;
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
  padding-bottom: 10px;
  .artist {
    position: absolute;

    width: 97.5%;
    height: 150px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-image: linear-gradient(
      to top,
      #3b3576 2.27%,
      #28224c 40.19%,
      #16142a 69.95%,
      #202040 98.27%
    );
    position: relative;
    .img {
      left: 0;
      width: 150px;
      height: 150px;
      border-radius: 10px;
    }
    .left_part {
      position: absolute;
      left: 165px;
      top: 20px;
      .genre {
        display: flex;
        align-items: center;
        gap: 4px;
        .text {
          font-size: 12px;
        }
        .star {
          width: 15px;
        }
      }
      .artist_name {
        margin-top: 18px;
        font-size: 26px;
        font-weight: 600;
        word-spacing: 3px;
      }
      .buttons {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 20px;
      }
    }
  }
}
.main::-webkit-scrollbar {
  display: none; /* Скрываем стандартную полосу прокрутки в браузерах WebKit */
}
