.lowerSidebar {
  position: fixed;
  top: 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 5px;
  width: 21.3%;
  height: 69%;
  margin: 10px;
  margin-top: 0;
  border-radius: 10px;
  background-color: #3f445f;
  padding-top: 16px;
  padding-left: 20.6px;
  padding-right: 18.6px;
}
.link_wrapper {
  margin-left: -3px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  .img {
    width: 25px;
    height: 25px;
  }
  .text {
    font-size: 13px;
    font-weight: 500;
    transition: all 0.2s ease-in;
    width: 155px;
    margin-left: 1px;
  }
  .text:hover {
    color: rgb(205, 205, 226);
  }
  .plus_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    .plus {
      margin: 0;
      padding: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
  .plus_wrapper:hover {
    background-color: #484d69;
  }
}

.bottom_elements {
  position: inherit;
  bottom: 15px;
  left: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  .cookies_wrapper {
    border: 1.5px solid #7d86b6;
    border-radius: 25px;
    padding: 5px;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    transition: all 0.2s ease-out;
    cursor: pointer;
  }
  .cookies_wrapper:hover {
    border: 1.5px solid white;
  }
  .language_wrapper {
    border: 1.5px solid #7d86b6;
    border-radius: 25px;
    padding: 5px;
    width: 70px;
    height: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-out;
    cursor: pointer;
  }
  .language_wrapper:hover {
    border: 1.5px solid white;
  }
  .img {
    width: 15px;
  }
  .text {
    font-size: 12px;
  }
}
