.wrapper {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #10101e;
  color: white;
}
.higherSidebar {
  background-color: #3f445f;
  width: 19.2%;
  height: 21.5%;
}
.lowerSidebar {
  background-color: #3f445f;
  width: 19.2%;
  height: 60.7%;
}
