.wrapper {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #10101e;
  color: white;
}
.higherSidebar {
  background-color: #3f445f;
}
.lowerSidebar {
  background-color: #3f445f;
}
