.higherSidebar {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  width: 21.3%;
  height: 26%;
  margin: 10px;
  border-radius: 10px;
  background-color: #3f445f;
  padding-top: 16px;
  padding-left: 18.6px;
}
