.wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 10px;
  height: 9%;
  background-color: black;
  opacity: 0.9;
  display: flex;
  align-items: center;
  .left_wrapper {
    display: flex;
    align-items: center;
    width: 25%;
    .image {
      width: 35px;
      height: 35px;
      margin-right: 5px;
    }
    .info {
      font-size: 10px;
    }
  }
}
