input[type='file']::-webkit-file-upload-button {
  visibility: hidden;
}
input[type='file']::before {
  content: attr(placeholder);
  display: inline-block;
  background: rgba(89, 95, 123, 1);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.step_wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 73%;
  border-radius: 10px;
  background-color: rgba(125, 134, 182, 1);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  .counter {
    margin-top: 5px;
    width: 45%;
  }
  .title {
    margin-top: 15px;
    width: 50%;
    font-size: 12px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .label1 {
      color: white;
      font-size: 12px;
      margin-left: 38%;
    }
    .label2 {
      color: white;
      font-size: 12px;
      margin-left: 27%;
    }
    input[type='file'] {
      color: transparent;
    }
    .inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .input_wrapper1 {
        .label2 {
          margin-left: 25px;
        }
        .input1 {
          width: 200px;
          height: 25px;
          border: 1px solid white;
          border-radius: 10px;
          .text_input {
            width: 100%;
            height: 100%;
          }
        }
      }
      .files {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    .input_wrapper {
      width: 110px;
      height: 110px;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .file_input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
      }

      .input {
        position: relative;
        width: 110px;
        height: 110px;
        background-color: rgba(89, 95, 123, 1);
        border-radius: 10px;
        border: 1px solid white;
        font-size: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2px;
      }

      .input span {
        pointer-events: none;
        color: white;
      }

      .input::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 20px;
        color: white;
        z-index: 0;
      }

      .input::file-selector-button {
        color: rgba(0, 0, 0, 0);
      }
    }
  }
  .button {
    margin-top: 10px;
    width: 110px;
    height: 28px;
    border-radius: 12px;
    border: 1px solid rgba(63, 68, 95, 1);
    background-color: transparent;
    color: white;

    cursor: pointer;
  }
}
