.app_wrapper {
  background-color: #10101e;
  height: 100vh; /* Растягиваем контейнер на всю высоту окна */
}

.wrapper {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh; /* Минимальная высота равна высоте видимой области окна браузера */
  background-color: #10101e;
  color: white;
  overflow-y: auto;
}
