.wrapper {
  overflow-y: auto; /* Включаем скролл только по вертикали */
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh; /* Минимальная высота равна высоте видимой области окна браузера */
  background-color: #10101e;
  color: white;
  padding-bottom: 20px; /* Добавляем небольшой отступ снизу, чтобы не перекрывался контент под футером */
}
