.step_wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 73%;
  border-radius: 10px;
  background-color: rgba(125, 134, 182, 1);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  .counter {
    width: 45%;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .label {
      color: white;
      font-size: 10px;
      align-items: flex-start;
    }
    .input {
      width: 250px;
      height: 30px;
      border-radius: 10px;
    }
  }
}
