.step_wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 73%;
  border-radius: 10px;
  background-color: rgba(125, 134, 182, 1);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  .counter {
    margin-top: 5px;
    width: 45%;
    margin-bottom: 30px;
  }
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .label {
      color: white;
      font-size: 11px;
      font-weight: 400;
      margin-left: 10px;
      margin-bottom: 2px;
      letter-spacing: 0.2px;
    }
    .input {
      box-sizing: border-box;
      color: white;
      font-weight: 300;
      font-size: 11px;
      padding-left: 10px;
      padding-right: 10px;

      width: 250px;
      height: 30px;
      border-radius: 10px;
      margin-bottom: 10px;
      background-color: rgba(89, 95, 123, 1);
    }
    .input::placeholder {
      color: white;
      font-weight: 300;
      font-size: 11px;
    }
    .input:focus {
      border: 1px solid white;
    }
    .button {
      margin-top: 30px;
      width: 110px;
      height: 28px;
      border-radius: 12px;
      border: 1px solid rgba(63, 68, 95, 1);
      background-color: transparent;
      color: white;
      margin-left: 75px;
      cursor: pointer;
    }
  }
}
