.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #10101e;
  padding: 10px;
  .header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #191941;
    .logo {
      width: 120px;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 17px;
      cursor: pointer;
      .image {
        width: 20px;
        height: 20px;
      }
      .text {
        color: white;
      }
    }
  }
  .window_wrapper {
    width: 65%;
    height: 100vh;
    margin-top: -20px;
    .subscribe_wrapper {
      width: 100%;
      height: 150px;
      background-color: #7d86b6;
      border-radius: 10px;
      display: flex;
      align-items: center;
    }
    .left {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .text {
      margin-top: 0px;
      width: 300px;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      margin-left: 50px;
      line-height: 16px;
    }
    .button_wrapper {
      margin-top: 10px;
      margin-left: 50px;
      background-color: #3f445f;
      width: 110px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 17px;
      cursor: pointer;
      .button {
        font-size: 13px;
      }
    }
    .right {
      width: 35%;
      .prime {
        width: 230px;
        margin-left: 60px;
        margin-top: 4px;
      }
    }
  }
  .second_level {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .settings_wrapper {
    margin-top: 15px;
    background-color: #7d86b6;
    width: 60%;
    height: 260px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      margin-top: 20px;
      font-size: 20px;
      margin-bottom: 25px;
    }
    .list_wrapper {
      box-sizing: border-box;
      width: 93%;
      background-color: #3f445f;
      height: 175px;
      border-radius: 10px;
      padding: 15px;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 11px;
      .item {
        box-sizing: border-box;
        width: 100%;
        height: 25px;
        border: 1.5px solid #7d86b6;
        border-radius: 13px;
        position: relative;
        cursor: pointer;
        .image {
          position: absolute;
          left: 20px;
          top: 15%;
          width: 14px;
        }
        .text {
          text-align: left;
          top: 15%;
          position: absolute;
          width: 250px;
          left: -10px;
          font-size: 12px;
          font-weight: 400;
        }
        .image2 {
          top: 15%;
          position: absolute;
          right: 10px;
        }
      }
    }
  }
  .profile_wrapper {
    position: relative;
    margin-top: 15px;
    box-sizing: border-box;
    width: 38%;
    height: 260px;
    border-radius: 10px;
    background-color: #7d86b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    .top {
      width: 100%;
      .profilePic {
        width: 75px;
        display: inline-block;
        margin-right: 5px;
      }
      .info {
        display: inline-block;
        .name {
          height: 60px;
          font-size: 24px;
          font-weight: 500;
          width: 100px;
        }
        .email {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
  }
}
