.track_wrapper {
  position: relative;
  width: 100%;
  height: 7vh;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-out;
  padding: 1px;
  cursor: pointer;

  .number {
    position: absolute;
    left: 0;
    display: block;
    width: 11px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 300;
  }
  .play {
    position: absolute;
    left: 0;
    display: none;
  }
  .cover {
    position: absolute;
    left: 30px;
    width: 30px;
  }
  .info {
    position: absolute;
    left: 60px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    width: 150px;
  }
  .title {
    font-size: 10px;
  }
  .author {
    font-size: 10px;
  }
  .like {
    position: absolute;
    left: 500px;
    display: none;
    width: 14px;
  }
  .forAdults_image {
    position: absolute;
    left: 520px;
    width: 12px;
    margin-left: 20px;
  }
  .duration {
    font-size: 10px;
    font-weight: 300;
    margin-left: 10px;
  }
  .more {
    width: 15px;
    display: none;
  }
}

.track_wrapper:hover {
  border: 1px solid #7d86b6;
  .play {
    display: block;
    width: 11px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .number {
    display: none;
  }
  .like {
    display: block;
  }
  .more {
    display: block;
  }
}
